@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define theme-specific variables */

@layer base {
  :root {
    --background: 243, 243, 243, 1; /* #f3f3f3 */
    --text: 194, 188, 246; /*#c5c0fa */

    --border: 19, 12, 93; /* #130C5D */
    --border-secondary: 187, 182, 245;
    /* --primary-light: 255, 247, 240; */
    --primary-50: 255, 247, 240; /* #fff7f0 (old 50) */
    --primary-100: 179, 181, 247; /* #b3b5f7 */
    --primary-200: 156, 158, 245; /* #b5b7f7 */
    --primary-300: 139, 142, 243; /* #8b8ef3 */
    --primary-400: 119, 122, 241; /* #777af1 (old 400) */
    --primary-500: 15, 18, 50; /* #0f1232 (old 500) */
    --primary-600: 16, 10, 77; /* #100a4d (old 700) */
    --primary-700: 14, 8, 60; /* #0e083c */
    --primary-800: 6, 4, 27; /* #06041b (old 800) */
    --primary-900: 5, 3, 20; /* #050314 */
  }

  img {
    max-width: 100%;
    box-sizing: border-box;
  }
}

.bodu {
  color: #333333d2;
}
